body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

p {
    font-size: 5rem;
    font-weight: bold;
}